h1, .lato-bold{
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.7em; /* 30px; */
  font-family: "Lato";
}

body {
  background: rgb(136, 40, 57);
}

html, .lato-light {
   line-height: 3em; /* 52px */
   font-size: 15px; 
}

input {
  height: 30px;
  margin-bottom: 10px;
  width: 98%;
  box-sizing: border-box;
}

div {
  width: 50%;
  margin: 0 auto;
}

label {
  text-align: center;
  height: 30px;
}

.button {
  background-color: rgb(31, 69, 92);
}

#venues {
  text-align: center;

}

@media screen and (min-width: 620px) {

  h1 {
    text-align: center;
    margin-bottom: 50px;
    text-underline-position: under;
  }

  input {
    height: 40px;
    margin-bottom: 20px;
    width: 98%;
    border: double;
    border-color: gray;
    text-align: center;
  }


  .button {
    padding: 0 20px;
    float: right;
    margin-bottom: 10px;
    
  }
}

@media screen and (min-width: 960px) {
  input {
    height: 60px;
    margin-bottom: 30px;
    border-style: dotted;
  }

  .button {
    text-align: center;
  }

  #venues {
    text-decoration: underline;
  }

}